name: check
on: [push]
jobs:
  check-macos:
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.0'
      - run: go version
      - run: make check
  check-ubuntu:
    runs-on: ubuntu-18.04 
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.0'
      - run: go version
      - run: make check
  check-all-commits:
    runs-on: ubuntu-18.04 
    needs: check-ubuntu
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.0'
      - run: go version
      - run: git fetch origin main
      - run: git rebase origin/main --exec "make check"

  cover:
    runs-on: ubuntu-latest
    needs: check-ubuntu
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-go@v3
        with:
          go-version: '>=1.18.0'
      - run: make testcase
      - run: go test -v -covermode=count -coverprofile=coverage.out ./...
      - run: go install github.com/jandelgado/gcov2lcov@latest
      - run: $HOME/go/bin/gcov2lcov -infile=coverage.out -outfile=coverage.lcov
      - name: Coveralls
        uses: coverallsapp/github-action@1.1.3
        with:
          github-token: ${{ secrets.github_token }}
          path-to-lcov: coverage.lcov
